<section class="todo">
	<h3>To Do List</h3>
	<div class="wrapper">
		{% if tasks_todo %}
			{% for task in tasks_todo %}
				{% include 'board/includes/task.html' %}
			{% endfor %}
		{% else %}
			<p>There are nothing To Do</p>
		{% endif %}
	</div>
</section>
<section class="now">
	<h3>In Progress List</h3>
	<div class="wrapper">
		{% if tasks_now %}
			{% for task in tasks_now %}
				{% include 'board/includes/task.html' %}
			{% endfor %}
		{% else %}
			<p>There are nothing In Progress</p>
		{% endif %}
	</div>
</section>
<section class="done">
	<h3>Done List</h3>
	<div class="wrapper">
		{% if tasks_done %}
			{% for task in tasks_done %}
				{% include 'board/includes/task.html' %}
			{% endfor %}
		{% else %}
			<p>There are nothing Done</p>
		{% endif %}
	</div>
</section>
