{% extends 'base.html' %}

{% block title %}
	Board{% if user %} | {{ user.username }}{% endif %}
{% endblock %}

{% block content %}
	<section class="form">
		<div class="wrapper">
			<form action="{% url 'board:index' %}" method="post">
				{% csrf_token %}
				<div class="alert">
					{% if form.content.errors %}
						{{ form.content.errors }}
					{% endif %}
				</div>
				{{ form.content }}
				<button type="submit">Create new task now</button>		
			</form>
		</div>
	</section>
	{% include 'board/includes/board.html' %}
{% endblock %}
