{% extends "base.html" %}

{% block title %}
    Board | Login
{% endblock %}

{% block content %}
    <section class="form">
        <form method="post" action="{% url 'board:login' %}">
            {% csrf_token %}
            <table class="login">
                <tr>
                    <td colspan="2">
                        <div class="alert">
                            {% if form.errors %}
                               <p>Your username and password didn't match. Please try again.</p>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Login</button>
                        <input type="hidden" name="next" value="{% url 'board:index' %}">
                    </td>
                </tr>
            </table>
        </form>
    </section>
{% endblock %}
