{% extends 'base.html' %}

{% block title %}
	Update{% if user %} | {{ user.username }}{% endif %}
{% endblock %}

{% block content %}
	<section class="form">
		<div class="wrapper">
			<form action="{{ task.get_update_url }}" method="post">
				{% csrf_token %}
				{% if form.content.errors %}
					{{ form.content.errors }}
				{% endif %}
				{{ form.content }}
				<button type="submit">Update this task now</button>		
			</form>
		</div>
	</section>
	{% include 'board/includes/board.html' %}
{% endblock %}
