{% extends 'base.html' %}

{% block title %}
	Update{% if user %}|{{ user.username }}{% endif %}
{% endblock %}

{% block content %}
	<h1>Update task{% if user %} of {{ user.username }}{% endif %}</h1>
	<form action="{{ task.get_update_url }}" method="post">
		{% csrf_token %}
		{% for field in form %}
			<div>
				{% if field.errors %}
					<div>
						{{ field.errors }}
					</div>
				{% endif %}
				{{ field.label }}
				{{ field }}
			</div>
		{% endfor %}
		<button type="submit">Update task</button>		
	</form>
	<a href="{% url 'board:index' %}">Board</a>
{% endblock %}
