{% extends 'base.html' %}

{% block title %}
	Delete{% if user %}|{{ user.username }}{% endif %}
{% endblock %}

{% block content %}
	<h1>Delete task{% if user %} of {{ user.username }}{% endif %}</h1>
	<form action="{{ task.get_delete_url }}" method="post">
		{% csrf_token %}
		<h3>Are you sure you want to delete this tsk?</h3>
		{% include 'board/includes/task.html' %}
		<a href="{{ task.get_detail_url }}">Censel</a>
		<button type="submit">Delete task</button>		
	</form>
	<a href="{% url 'board:index' %}">Board</a>
{% endblock %}
